/*Mobile view*/

/*The style for the cv page*/
.cv{
    text-align: center;
    margin-top: 25px;
}
.cvsub{
    margin-left: 23px;
}

section{
    padding: 8px;
    margin-bottom: 20px;

    }



/*The style for the lectures page*/
.lectures{
    text-align: center;
    margin-top: 25px;
}


.lecturestext{
    padding: 16px;
}

#birdwoman {
    content: url(birdwoman.jpg);
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;

}

/*The style for the bio page*/
.bio{
    text-align: center;
    margin-top: 25px;
}

.bioImage{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    margin-top: 3em;
}

.biotext1 {
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 40px;
}


/*Tablet view*/
@media all and (min-width:520px) {

section{

    margin-left: 15px;
    margin-right: 16px;

}

#birdwoman{
        width: 50%;
    }

.bioImage{
        width: 50%;
    }

.biotext1 {
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 15px;

    }

}

/*Desktop view*/
@media all and (min-width:995px) {

    .cvmain{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "h1-area h1-area"
        "section-area1 section-area2";
    }

    .cvmain h1{
        grid-area: h1-area;
    }

    .cvmain .section-area1{
        grid-area: section-area1;
    }

    .cvmain .section-area2{
        grid-area: section-area2;
    }

    section{

    margin-left: 30px;
    margin-left: 25px;
}

    .lecturestext{
    margin-right: 90px;
    margin-left: 90px;
}

    #birdwoman{
        width: 30%;
        margin-top: 1em;
        margin-bottom: 3em;
    }


    .wrapper{
        display: grid;
        grid-template-columns:1fr 1fr;
        justify-content: center;
        justify-items:center;


    }

    .bioImage{
        grid-row: 2;
        place-self: center;
        margin-top:7em;
        margin-right: 10em;




    }

    .biotext1{
        grid-row: 1;
        place-self: center;
        margin-top:7em;
        margin-left: 10em;
        font-size: 19px;

    }






}
