@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');

/* /////// Overall layout /////// */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --main-color: white;
    --active--color: #FF7C53;
    --product-template-color: #212440;
}

.underline{
    text-decoration: underline;
}

body,
html {
    height: 100%;
    font-family: Helvetica, sans-serif;
    position: relative;
}

header {
    background-color: white;
}

/*LOGO ON DESKTOP*/
.unicorn-logo{
    width: 35px;
    display: block;
    margin-left: 1em;
    cursor: pointer;
    position: absolute;
}

/*LOGO ON MOBILE*/
.unicorn-logo-white{
    width: 40px;
    margin-left: 3px;
    cursor: pointer;
}

/* USED TO KEEP THE FOOTER AT THE BOTTOM OF THE PAGE. SRC: https://matthewjamestaylor.com/bottom-footer*/
.mainContainer{
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 300px; /* height of your footer */
 background-color: var(--main-color);
}

/*  FOOTER DESKTOP VIEW */
footer {
    background-color: #210011;
    color: white;
    height: 250px;
    padding: 3em;
    display: grid;
    font-size: 0.8em;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer h1 {
    width: 250px;
    font-size: 1.2em;
    border-bottom: 1px solid rgba(256, 256, 256, 0.5);
    padding-bottom: 1em;
    margin-bottom: 1em;
}

footer img {
    width: 10px;
}

footer .etsyIcon {
    width: 15px;
    margin-left: 10px;
}

footer p {
    margin-bottom: 1em;
    opacity: 0.7;
}

.footer1 {
    grid-area: 1/1;
    margin-left: auto;
    margin-right: 30%;
}

.footer2 {
    grid-area: 1/2;
    margin-right: auto;
    margin-left: 30%;
    text-align: left;
}

.footer2 a:link{
    text-decoration: none;
}

.footer2 a:hover{
    text-decoration: none;
}

.footer2 a:active{
    text-decoration: none;
}

.footer2 a:visited{
    text-decoration: none;
}

/* /// Button go to top // */
#topBtn {
    display: none;
    position: fixed;
    bottom: 31px;
    right: 15px;
    z-index: 10;
    font-size: 13px;
    border: none;
    background-color: #FF7C53;
    color: white;
    cursor: pointer;
    padding: 12px;
    border-radius: 4.1px;
}

#topBtn:hover {
    background-color: var(--product-template-color);
    box-shadow: 2px 2px 10px #4a4a4a;
}


/* MODAL DESKTOP VIEW */
.hide {
    display: none;
}

#modal #cross {
    width: 30px;
    position: absolute;
    right: 21%;
    top: 8%;
    cursor: pointer;
}

#modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    top: 0;
    height: 100%;
    width: 100%;
    color: var(--product-template-color);
    overflow: scroll;
}

#modal article {
    background-color: white;
    width: 60%;
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    padding: 2em;
}

#modal #pic {
    grid-area: 1/1;
    text-align: center;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

#modal article h2 {
    margin-bottom: 1em;
    padding-bottom: 0.8em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#modal #productDetails {
    grid-area: 1/2;
    margin-left: 10%;
    margin-top: 1em;
    padding: 2em;
    background-color: rgba(194, 195, 207, 0.075);
}

#productDetails p {
    margin-bottom: 2em;
}

#productPrice {
    font-weight: bold;
}

#modal button {
    border: none;
    width: 100px;
    height: 50px;
    background-color: var(--active--color);
    color: white;
    cursor: pointer;
}

/* /////////////// Slider Style ////////////// */

.mySlides {
    display: none
}

.slideshow-container {
    width: 100%;
    max-width: 1600px;
    position: relative;
    margin: auto;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 10px;
    margin-top: -22px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.prev {
    left: 0;
    margin-left: 12px;
}

.next {
    right: 0;
    margin-right: 12px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}

.carousel-title {
    text-align: center;
    margin-top: 1em;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-top: 2em;
}

div#dots {
    text-align: center;
}

span.active,
.dot:hover {
    background-color: var(--active--color);
}

.centered {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

/* ////////// News Page /////////// */

#news-page-title {
    font-family: 'Great Vibes', cursive;
    text-align: center;
    font-size: 3em;
    padding-top: .6em;
    color: var(--product-template-color);
}

/* ////////// News Items Style ////////// */

#eventsList {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 50px;
    margin: 0 7%;
    padding: 70px 0;
}

.news-item {
    width: 100%;
    max-width: 500px;
    background-color: var(--product-template-color);
    overflow: auto;
    margin: 0 auto;
    color: white;
}

.text-container {
    max-width: 400px;
    margin: 15px 15px;
}

#eventimg {
    border-radius: 50%;
    max-height: 170px;
}

#eventimg-container {
    float: right;
    display: block;
    margin: 10px 10px;
}

#news-title {
    font-weight: bold;
    font-size: 19px;
    padding-bottom: 17px;
}

.text-container h4 {
    padding-top: 10px;
    font-size: 14px;
}

@media only screen and (min-width: 1300px) {
    #eventsList {
    grid-template-columns: auto auto;
    grid-row-gap: 50px;
}
    }


/* /////////////// Navigation //////////////// */


/* /// Naviagation - mobile and tablet /// */

@media only screen and (min-width: 220px) and (max-width: 720px) {

    .desktop-hide {
        display: none;
    }

    #hamburger-menu {
        font-size: 31px;
        cursor: pointer;
    }

    .mobile {
        display: none;
    }

    .container {
        height: 100%;
        position: fixed;
        z-index: 99;
        top: 0;
        background-color: #210011;
        transition: 0.51s;
        overflow: hidden;
        width: 0;
    }

    .container-content {
        position: relative;
        top: 22%;
        text-align: left;
        margin-left: 30px;
    }

    .container a {
        padding: 8px;
        text-decoration: none;
        font-size: 22px;
        color: #dedede;
        display: block;
        transition: 0.31s;
    }

    .menuList{
        margin-top: 3em;
    }

    .container a:hover {
        color: var(--active--color);
    }

    .container #closebtnMobile {
        position: absolute;
        top: 18px;
        right: 43px;
        font-size: 50px;
    }

    .submenu-Mobile {
        position: static;
        width: 100%;
    }

    .submenu-Mobile a {
        width: 95%;
        margin: 0 auto;
    }

    .submenu-Mobile li {
        display: none;
    }

    .display-block > li {
        display: block;
    }

    /* MODAL MOBILE AND TABLET VIEW*/
    #modal #cross {
        top: 50px;
        right: 10%;
    }

    #modal {
        background-color: white;
    }

    #modal article {
        background-color: white;
        width: 90%;
        display: block;
        padding: 2em;
    }

    #modal #productDetails {
        margin-left: auto;
        margin-right: auto;
        margin-top: 2em;
    }


    /* FOOTER MOBILE AND TABLET VIEW */
    .mainContainer {
        padding-bottom: 400px;
    }

    footer {
        height: 400px;
        padding: 3em;
        display: block;
    }

    footer h1 {
        width: 40%;
    }

    .footer1 {
        margin-left: 10%;
        margin-right: inherit;
    }

    .footer2 {
        margin-top: 4em;
        margin-right: auto;
        margin-left: 10%;
    }
}

/* /// Navigation - desktop version /// */

#desktop-nav {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    box-shadow: 0 3px 2px -2px gray;
    background-color: #FF7C53;
    z-index: 98;
    height: 57.5px;
}

#desktop-nav ul {
    list-style: none;
    text-align: center;
}

#desktop-nav a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 19px 20px;
}

#desktop-nav .menu-li .dropdown-menu-ul a{
    color: var(--product-template-color);
}

#desktop-nav .menu-li .dropdown-menu-ul a:hover{
    color: var(--active--color);
}

#desktop-nav a#shop {
    background-color: #212440;
    color: white;
    cursor: pointer;
}


#desktop-nav a:hover {
    /*background-color: var(--active--color);*/
    color: #212440;
    transition: all 0.5s;
}

#desktop-nav .dropdown-menu-ul .dropdown-menu-li .active{
    color: var(--active--color);
}

#desktop-nav .active {
    /*background-color: var(--active--color);*/
    color: #212440;
}

.menu-li {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding-left: 40px;
}

.dropdown-menu-ul {
    position: absolute;
    top: 57px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 98;
    background-color: white;
}

.dropdown-menu-li {
    background-color: #f9f9f9;
    display: none;
    min-width: 145px;
}

.dropdown-menu-li a {
    color: black;
    padding: 12px 16px;
    text-align: left;
}

.menu-li:hover .dropdown-menu-li {
    display: block;
}


/* ///////// Index page ////////// */

#firstpage {
    background-image: url(../images/css-images/img.png);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#name {
    color: white;
    font-family: 'Great Vibes', cursive;
    font-size: 35px;
    text-align: center;
    padding-top: 240px;
}

#job {
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    padding-top: 5px;
}

#enterBtn {
    background-color: transparent;
    text-transform: uppercase;
    color: white;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 0.2px;
    border-style: double;
}

#enterBtn:hover {
    cursor: pointer;
    color: rgb(255, 124, 83);
    transition: all 0.4s;
}

#enterBtn-a {
    text-decoration: none;
}



@media only screen and (min-width: 220px) and (max-width: 360px) {

    #name{
        padding-top: 290px;
    }

}

@media all and (min-width:360px) {

    #name {
        font-size: 45px;
        padding-top: 290px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 720px) {
    #name {
        font-size: 45px;
    }

    #job {
        font-size: 19px;
        padding-top: 5px;
    }

}


@media only screen and (min-width: 720px) and (max-width: 1280px) {

    .desktop-hide {
        display: block;
    }

    #hamburger-menu {
        display: none;
    }

    .container {
        display: none;
    }

    #name {
        font-size: 55px;
        padding-top: 300px;
    }

    #job {
        font-size: 22px;
    }

    #enterBtn {
        padding: 13px;
        padding-left: 18px;
        padding-right: 18px;
        margin-top: 25px;
    }

}


@media all and (min-width:1280px) {

    .desktop-hide {
        display: block;
    }

    #hamburger-menu {
        display: none;
    }

    .container {
        display: none;
    }

    #name {
        font-size: 65px;
        padding-top: 300px;
    }

    #enterBtn {
        padding: 15px;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 30px;
    }
}






/*Mobile view*/


/*The color for all pages*/
.backColor {
    background-color: var(--main-color);
    height: 100%;
}




/*The style for the cv page*/
.cv,
.lectures,
.bio,
.exhibitions {
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 3em;
    padding-top: 25px;
    color: var(--product-template-color);
}

section {
    padding: 8px;
    margin-bottom: 20px;

}


/*The style for the lectures page*/

.lecturestext {
    margin: auto;
    width: 80%;
    padding: 10px;
    font-family: 'Helvetica';
    line-height: 35px;
    font-size: 17px;
    margin-bottom: 2em;
    margin-top: 3em;
}

    .lecturestext h2{
    color: var(--product-template-color);
}

#birdwoman {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;

}



/*The style for the bio page*/


.bioImage {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    margin-top: 3em;
}

.biotext1 {
    margin: auto;
    width: 80%;
    padding: 10px;
    font-family: 'Helvetica';
    line-height: 30px;
    font-size: 17px;
    margin-bottom: 2em;
    color: var(--product-template-color);
}

.homeContainer {
    background-color: #280116;
    margin-bottom: 3em;
    margin-top: 3em;
    display: block;
    padding: 2em;
}

.homePic{
    display: none;
}

.homePicMobile{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-width: 200px;
    margin-bottom: 2em;
}

.homeQuote {
    text-align: center;
    font-family: 'Great vibes', cursive;
    font-size: 28px;
    line-height: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
    color: white;
}



/*The style for the exhibitions page*/

.exhibitionsText1,
.exhibitionsText2 {
    margin: auto;
    width: 80%;
    padding: 10px;
    font-family: 'Helvetica';
    line-height: 40px;
    font-size: 17px;
    margin-top: 2em;
    margin-bottom: 2em;
}


.sectionarea1,
.sectionarea2,
.sectionarea3,
.sectionarea4,
.sectionarea5 {
    margin: auto;
    width: 80%;
    padding: 10px;
    font-family: 'Helvetica';
    line-height: 40px;
    font-size: 17px;
    margin-top: 2em;
    margin-bottom: 2em;
}

.cvpic {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    margin-top: 2em;
}

#video {
    width: 100%;
    height: 315px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
}



/*Tablet view*/
@media all and (min-width:520px) {

    section {
        margin-left: 15px;
        margin-right: 16px;
    }

    #birdwoman {
        width: 50%;
    }

    .bioImage {
        width: 50%;
    }

    .biotext1 {
        width: 80%;
    }


    .exhibitionsText1,
    .exhibitionsText2 {
        width: 70%;
    }

    .lecturestext {
        width: 70%;
    }

    .cvpic {
        width: 20%;
    }

    .homePic {
        display: none;
    }

    .homeQuote {
        font-size: 33px;
    }

}

/*Desktop view*/
@media all and (min-width:995px) {

    section {
        margin-left: 30px;
        margin-left: 25px;
    }

    .lecturestext {
        width: 60%;
    }

    #birdwoman {
        width: 30%;
        margin-top: 1em;
        margin-bottom: 3em;
    }

    #video {
        margin-top: 5em;
        /*width:560px;
        height: 315px;*/
        width:70%;
        height: 500px;
    }

    .homeContainer {
        margin-top: 5em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 400px;
        padding: inherit;
    }

    .homePicMobile{
        display: none;
    }

    .homePic {
        display: block;
        grid-area: 1/2;
        width: 400px;
        position: absolute;
        margin-top: 5em;
        margin-left: 55%;
    }

    .homeQuote {
        grid-area: 1/1;
        margin-left: 30%;
        margin-top: 4em;
    }

    .wrapper{
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-template-areas: "text-area pic-area";
        padding: 1em;
    }

    .biotext1{
        width: 500px;
        grid-area: text-area;
        line-height: 31.5px;
        margin: inherit;
        margin-bottom: inherit;
        padding: inherit;
        margin-left: auto;
        margin-top: 1.5em;
    }

    .bioImage{
        grid-area: pic-area;
        width: 400px;
        display: block;
        margin-left: 3em;
        margin-bottom: inherit;
    }


    .exhibitionsText1,
    .exhibitionsText2 {
        width: 60%;
    }

    .exhibitionsText1 h2,
    .exhibitionsText2 h2{
        color: var(--product-template-color);
    }

    .sectionarea1,
    .sectionarea2,
    .sectionarea3,
    .sectionarea4,
    .sectionarea5 {
        width: 60%;
    }

    .cv h2{
        color: var(--product-template-color);
    }

    .cvpic {
        width: 10%;
    }
}



/*Artwork Page*/

#artwork-title {
    font-family: 'Great Vibes', cursive;
    text-align: center;
    font-size: 3em;
    padding-top: .6em;
    color: var(--product-template-color);
}

#pageCats {
    display: block;
    text-align: center;
}


#pageCats a {
    margin-top: .6em;
    text-decoration: none;
    display: inline-block;
    font-family: Helvetica, sans-serif;
    margin-right: 1em;
    color: var(--product-template-color);
    text-align: center;
    padding: .3em 1em;
    font-size: 1em;
    font-weight: bold;
}

#etsylogo {
    width: 10%;
    float: right;
    margin-bottom: 3em;
    position: relative;
    margin-right: 1em;
}

.prodimg {
    width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

.oneProduct {
    margin-top: 5em;
    background-color: var(--product-template-color);
    padding: .12em;
    color: white;
}

.prodtitle {
    margin-top: .5em;
    margin-left: .5em;
}

.price {
    text-align: left;
    margin-left: .7em;
}

#artmain {
    background-color: var(--main-color);
    padding-left: 1em;
    padding-right: 1em;
}

#btn-wrapper {
    margin-left: 43%;
}

.details {
    text-decoration: none;
    background-color: transparent;
    font-family: helvetica, sans-serif;
    font-size: .8em;
    border: none;
    cursor: pointer;
    font-weight: bolder;
    margin-top: 4em;
    margin-bottom: 1em;
    padding: 0.5em;
    border-radius: 10%;
    border-style: ridge;
    border-color: white;
    color: white;
}

#etsylogo:hover {
    transform: scale(1.2);
    transition: .3s ease-in-out;
}

.details:hover {
    background-color: #FF7C53;
    border: none;
    transform: scale(1.5);
    transition: .3s ease-in-out;
    color: white;
}

#pageCats a:hover {
    transform: scale(1.5);
    transition: .3s ease-in-out;
}

#credits {
    font-size: .7em;
    text-align: center;
    color: rgb(94, 94, 94);
    padding-top: 10em;
    padding-bottom: 5em;
    background-color:var(--main-color);
}

#credits a {
    font-size: .7em;
    text-align: center;
    color: rgb(94, 94, 94);
    margin-bottom: 5em;
    margin-top: 10em;
}

@media screen and (min-width: 600px) {
    .prodimg {
        width: 100%;
        position: relative;
        top: 0em;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    #products {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 1em;
    }

    #etsylogo {
        text-align: right;
        margin-left: 11em;
        margin-bottom: 1.5em;
    }


    .details {
        margin-top: 0em;
    }

    #artmain{
        padding-left: 3em;
        padding-right: 3em;
    }
}
