/*Mobile view*/

/*The style for the cv page*/
.cv,.lectures,.bio,.exhibitions{
    text-align: center;
    margin-top: 25px;
    font-family: 'Great Vibes', cursive;
    font-size: 3em;
}


section{
    padding: 8px;
    margin-bottom: 20px;

    }



/*The style for the lectures page*/



.lecturestext{
    margin: auto;
    width: 80%;
    padding: 16px;
    line-height: 30px;
    font-family: 'Helvetica';
    font-size: 17px;
}

#birdwoman {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;

}

/*The style for the bio page*/


.bioImage{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    margin-top: 3em;
}

.biotext1 {
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 40px;
}



/*The style for the exhibitions page*/

.exhibitionsText1, .exhibitionsText2{
  margin: auto;
  width: 80%;
  padding: 10px;
  font-family: 'Helvetica';
  line-height: 30px;
  font-size: 17px;
}

.sectionarea1, .sectionarea2, .sectionarea3, .sectionarea4, .sectionarea5{
  margin: auto;
  width: 80%;
  padding: 10px;
  font-family: 'Helvetica';
  line-height: 30px;
  font-size: 17px;
}





/*Tablet view*/
@media all and (min-width:520px) {

section{

    margin-left: 15px;
    margin-right: 16px;

}

#birdwoman{
        width: 50%;
    }

.bioImage{
        width: 50%;
    }

.biotext1 {
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 15px;

    }

.exhibitionsText1,.exhibitionsText2 {
     width: 70%;


}


.lecturestext{
    width: 70%;

}



}

/*Desktop view*/
@media all and (min-width:995px) {




    section{

    margin-left: 30px;
    margin-left: 25px;
}

    .lecturestext{
    width:60%;
}

    #birdwoman{
        width: 30%;
        margin-top: 1em;
        margin-bottom: 3em;
    }


    .wrapper{
        display: grid;
        grid-template-columns:1fr 1fr;
        justify-content: center;
        justify-items:center;


    }

    .bioImage{
        grid-row: 2;
        place-self: center;
        margin-top:7em;
        margin-right: 10em;




    }

    .biotext1{
        grid-row: 1;
        place-self: center;
        margin-top:7em;
        margin-left: 10em;
        font-size: 19px;

    }

.exhibitionsText1, .exhibitionsText2{
    width: 50%;

}

    .sectionarea1, .sectionarea2, .sectionarea3, .sectionarea4, .sectionarea5{
     width: 60%;

    }




}
